.vs/slnx.sqlite

.vs/I4GUIEX3/v16/.suo
ModelsApi/ModelWebApp/obj/Debug/ModelWebApp.njsprojAssemblyReference.cache
ModelsApi/ModelWebApp/obj/Release/ModelWebApp.njsprojAssemblyReference.cache
ModelsApi/ModelsApi/obj/Debug/netcoreapp3.1/ModelsApi.csprojAssemblyReference.cache
ModelsApi/ModelsApi/obj/Release/netcoreapp3.1/ModelsApi.csprojAssemblyReference.cache
