.vs/slnx.sqlite

.vs/I4GUIEX3/v16/.suo
ModelsApi/ModelWebApp/obj/Debug/ModelWebApp.njsprojAssemblyReference.cache
ModelsApi/ModelWebApp/obj/Release/ModelWebApp.njsprojAssemblyReference.cache
ModelsApi/ModelsApi/obj/Debug/netcoreapp3.1/ModelsApi.csprojAssemblyReference.cache
ModelsApi/ModelsApi/obj/Release/netcoreapp3.1/ModelsApi.csprojAssemblyReference.cache
/ModelsApi/ModelWebApp/dist/css/app.605dc01f.css
/ModelsApi/ModelWebApp/dist/css/chunk-vendors.27a4aafa.css
/ModelsApi/ModelWebApp/dist/js/app.a344fb2c.js
/ModelsApi/ModelWebApp/dist/js/app.a344fb2c.js.map
/ModelsApi/ModelWebApp/dist/js/chunk-vendors.be74cfb0.js
/ModelsApi/ModelWebApp/dist/js/chunk-vendors.be74cfb0.js.map
/ModelsApi/ModelWebApp/node_modules/.cache/eslint-loader/98460b9ac674db1bc94c7d0ac0cd9b5d4418d724.json.gz
/ModelsApi/ModelWebApp/node_modules/.cache/eslint-loader/557d90e83a6a6e5a3e0d197056ef40a365cea78c.json.gz
/ModelsApi/ModelWebApp/node_modules/.cache/eslint-loader/48c554a2fbb38205877bcf16dad1af578abdc8dd.json.gz
/ModelsApi/ModelWebApp/node_modules/.cache/eslint-loader/537a55876d07ab1da1e4c787e110ae6c5fe8c912.json.gz
/ModelsApi/ModelWebApp/node_modules/.cache/eslint-loader/31999f330c38a6767e91330544ec5a415a94ce65.json.gz
/ModelsApi/ModelWebApp/node_modules/.cache/uglifyjs-webpack-plugin/index-v5/14/2f/441f4dc42ec3c018efd313eb5eb886c45ddf6b17229bbb1d005b5cb04a4a
/ModelsApi/ModelWebApp/node_modules/.cache/uglifyjs-webpack-plugin/content-v2/sha512/05/2a/a4bc568c620fa4fbb7967b6b5aa74cc84fbd5f2635c2051708752d8f79819b27f750789d51ac7a43271c63d292333b78d9f3d4cd0b2a55c666ecc3a39408
